body{
    background-color: #ECF2FF;
  }
  img{
    height:175px;
  }
  hr{
    border-style: dotted none none none;
    width:5%;
    border-color: grey;
    border-width: 5px;
  }
  h1{
    color: #3E54AC;
  }
  h3{
    color: #655DBB;
  }
  a{
    color:#BFACE2;
  }
  img:hover{
    height:200px;
  }
  h1:hover{
    font-size:35px;
  }
  h3:hover{
    font-size:25px;
  }
  hr:hover{
    width: 70%;
  }
  .star:hover{
    font-size:25px;
  }
  a:hover{
    color: #3E54AC;
    font-size:20px;
  }
  span:hover{
    font-size:24px;
  }
