body{
    background-color: #ECF2FF;
  }
  hr{
    border-style: dotted none none none;
    width:5%;
    border-color: grey;
    border-width: 5px;
  }
  h1{
    color: #3E54AC;
  }
  h3{
    color: #655DBB;
  }
  a{
    color:#BFACE2;
  }
