body{
    padding:5px;
    background-color:grey;
    text-align:center;
}
.parent{
    border:black solid 9px;
    background-color:white;
    height:95vh;
    width:95vw;
    text-align:center;
}
.photo{
    width:30%;
    margin-top:10%;
}