body{
    padding:0;
    margin:0;
}
.parent{
    width:100vw;
    height:100vh;
}
.background_img{
    width:100%;
    height:100%;
    filter: blur(2px);
}
.boom{
    color:white;
    position:absolute;
    top:5%;
    left:40%;
    font-weight:900;
    z-index:1;
}
.boom2{
    color:white;
    position:absolute;
    z-index:1;
    top:28%;
    left:25%;
    font-size:18px;
    font-weight:600;
}