body{
    padding:0;
    color:#40154E;
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;
}
h1{ 
    margin:0;
    font-family: 'Sacramento', cursive;
    font-size:6rem;
    color:#66BFBF;
}
h3{ 
    word-spacing:200%;
    letter-spacing:120%;
    font-family:cursive,serif;
    line-height:150%;
    color:#66BFBF;
}
p{
    font-weight:900;
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    margin:0;
    background-color: #E4F9F5;
    position:relative;
    height:100%;
    width:100%;
}
hr{
    border-width:7px;
    border-style:dotted none none none;
    width:4%;
    color:grey;
    margin-top:50px;
    margin-bottom:50px;
}
.bottom-container{
    background-color:#66BFBF;
    padding-top:50px;
    padding-bottom:50px;
    line-height:10;
}
.middle-container{
    padding:0 28%;
}
.footer-line{
    font-size:24px;
    color:black;
    font-weight:bold;
    text-decoration:underline 3px;
}
.footer-line:hover{
    color:white;
}
.stop{
    text-decoration:none;
}
.middle_2{
    padding:6px;
    border:3px dotted black;
}
.middle_3{
    background-color:white;
    border:3px solid black;
    padding:10px;
}
.middle_4{
    border:3px solid black;
    padding:6px;
}
.home_button{
    border:2px solid white;
    background-color:#66BFBF;
    border-radius:8px;
    padding:1px 8px;
    position:fixed;
    left:10px;
    top:2%;
}
.home_button:hover{
    background-color:white;
    border:2px solid #66BFBF;
}
.home_name{
    color:white;
    margin:0;
}
.home_name:hover{
    color:#66BFBF;
}