html{
    scroll-behavior:smooth;
}
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    text-align:center;
    font-family: 'Merriweather', serif;
}
.nav_bar{
    padding:2% 15%;
    text-align:left;
    background-color:rgb(188, 244, 233);
    margin-bottom:5%;
}
.nav_secondary{
    display:inline;
}
.nav_bar1{
    display:inline;
    margin-right:18%;
}
.nav_bar2{
    display:inline;
}
.home_icon{
    text-decoration:none;
    color:black;
    font-size:35px;
    font-weight:700;
}   
.home_icon1{
    text-decoration:none;
    color:black;
    padding:8px;
    font-size:27px;
    font-weight:600;
    color:rgb(79, 78, 78);
}
.home_icon:hover{
    text-decoration:underline 2px;
}
.home_icon1:hover{
    border:4px solid rgb(136,135,135) ;
    border-radius:8px;
}
.left_margin{
    margin-left:3%;
}
.footer{
    margin-top:5%;
    width:100%;
    padding:5%;
    background-color:rgb(188, 244, 233);
}
.heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.heading:hover{
    font-family:monospace;
    font-size:150%;
    text-decoration:underline orange 4px;
}
.writting_material{
    padding:1% 20%;
    text-decoration:none;
    font-weight:bold;
    font-family:monospace;
    font-size:16px;
    line-height:200%;
}
.middle_container{
    padding:5%;
    margin:2% 10%;
}
.images{
    width:100%;
    height:100%;
    margin:0;
    border-radius:8px;
}
.img_column{
    box-shadow:6px 6px 12px 1px black;
    margin:3%;
    padding:0;
    border-radius:8px;
    margin-bottom:5%;
}
.img_column:hover{
    scale:105% 105%;
}
.thank{
    color:black;
    scale:150% 150%;
    text-decoration:underline dashed 2px black;
}
.thank:hover{
    text-decoration:underline dashed 2px orange;
}